@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GUÍA 2 LABORATORIO 3</h1>
    <p>Learn about <a href="https://github.com/alexismartinez-ufg" target="_blank">HECHO POR JEREMY MARTÍNEZ BELTRÁN MB101421</a>.</p>
</div>
